<div id="copyright">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="site-info">
            <p>© Designed and Developed by <a href="http://uideck.com" rel="nofollow">UIdeck</a></p>
            </div>      
        </div>
        </div>
    </div>
</div>