<!-- Map Section Start -->
<section id="google-map-area">
    <div class="container-fluid">
        <div class="row">
        <div class="col-12">
            <div id="conatiner-map"></div>
        </div>
        </div>
    </div>
</section>
<!-- Map Section End -->