<!-- Ticket Pricing Area Start -->
<section id="pricing" class="section-padding">
    <div class="container">
        <div class="row">
        <div class="col-12">
            <div class="section-title-header text-center">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Our Pricing</h1>
            <p class="wow fadeInDown" data-wow-delay="0.2s">Global Grand Event on Digital Design</p>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-4 col-sm-6 col-xa-12 mb-3">
            <div class="price-block-wrapper wow fadeInLeft" data-wow-delay="0.2s">
            <div class="icon">
                <i class="lni-write"></i>
            </div>
            <div class="colmun-title">
                <h5>Basic Pass</h5>
            </div>
            <div class="price">
                <h2>$29</h2>
                <p>452 Tickets Available</p>
            </div>
            <div class="pricing-list">
                <ul>
                <li><i class="lni-check-mark-circle"></i><span class="text">Entrance</span></li>
                <li><i class="lni-check-mark-circle"></i><span class="text">Coffee Break</span></li>
                <li><i class="lni-check-mark-circle"></i><span class="text">Lunch on all days</span></li>
                <li><i class="lni-close"></i><span class="text">Access to all areas</span></li>
                <li><i class="lni-close"></i><span class="text">Certificate</span></li>
                <li><i class="lni-check-mark-circle"></i><span class="text">Workshop</span></li>
                </ul>
            </div>
            <a href="#" class="btn btn-common">Buy Ticket</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xa-12 mb-3">
            <div class="price-block-wrapper wow fadeInUp" data-wow-delay="0.3s">
            <div class="icon">
                <i class="lni-layers"></i>
            </div>
            <div class="colmun-title">
                <h5>Standard Pass</h5>
            </div>
            <div class="price">
                <h2>$40</h2>
                <p>452 Tickets Available</p>
            </div>
            <div class="pricing-list">
                <ul>
                <li><i class="lni-check-mark-circle"></i><span class="text">Entrance</span></li>
                <li><i class="lni-check-mark-circle"></i><span class="text">Coffee Break</span></li>
                <li><i class="lni-check-mark-circle"></i><span class="text">Lunch on all days</span></li>
                <li><i class="lni-close"></i><span class="text">Access to all areas</span></li>
                <li><i class="lni-check-mark-circle"></i><span class="text">Certificate</span></li>
                <li><i class="lni-close"></i><span class="text">Workshop</span></li>
                </ul>
            </div>
            <a href="#" class="btn btn-common">Buy Ticket</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xa-12 mb-3">
            <div class="price-block-wrapper wow fadeInRight" data-wow-delay="0.4s">
            <div class="icon">
                <i class="lni-leaf"></i>
            </div>
            <div class="colmun-title">
                <h5>Premium Pass</h5>
            </div>
            <div class="price">
                <h2>$68</h2>
                <p>452 Tickets Available</p>
            </div>
            <div class="pricing-list">
                <ul>
                <li><i class="lni-check-mark-circle"></i><span class="text">Entrance</span></li>
                <li><i class="lni-check-mark-circle"></i><span class="text">Coffee Break</span></li>
                <li><i class="lni-close"></i><span class="text">Lunch on all days</span></li>
                <li><i class="lni-check-mark-circle"></i><span class="text">Access to all areas</span></li>
                <li><i class="lni-check-mark-circle"></i><span class="text">Certificate</span></li>
                <li><i class="lni-close"></i><span class="text">Workshop</span></li>
                </ul>
            </div>
            <a href="#" class="btn btn-common">Buy Ticket</a>
            </div>
        </div>
        </div>
    </div>
</section>
<!-- Ticket Pricing Area End -->