<app-nav-menu></app-nav-menu>
<app-countdown-clock></app-countdown-clock>
<app-services-section></app-services-section>
<app-about></app-about>
<app-counter-area></app-counter-area>
<app-gallery></app-gallery>
<app-faq></app-faq>
<app-pricing></app-pricing>
<app-event-guide></app-event-guide>
<app-blog></app-blog>
<app-subscribe></app-subscribe>
<app-contact></app-contact>
<app-footer></app-footer>
<app-copyright></app-copyright>