 <!-- Sponsors Section Start -->
 <section id="sponsors" class="section-padding">
    <div class="container">
        <div class="row">
        <div class="col-12">
            <div class="section-title-header text-center">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Sponsores</h1>
            <p class="wow fadeInDown" data-wow-delay="0.2s">Global Grand Event on Digital Design</p>
            </div>
        </div>
        </div>
        <div class="row mb-30 text-center wow fadeInDown" data-wow-delay="0.3s">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="spnsors-logo">
            <a href="#"><img class="img-fluid" src="assets/img/sponsors/logo-01.png" alt=""></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="spnsors-logo">
            <a href="#"><img class="img-fluid" src="assets/img/sponsors/logo-02.png" alt=""></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="spnsors-logo">
            <a href="#"><img class="img-fluid" src="assets/img/sponsors/logo-03.png" alt=""></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="spnsors-logo">
            <a href="#"><img class="img-fluid" src="assets/img/sponsors/logo-04.png" alt=""></a>
            </div>
        </div>
        <div class="col-12 text-center">
            <a href="#" class="btn btn-common">become a sponsor</a>
        </div>
        </div>
    </div>
</section>
<!-- Sponsors Section End -->